
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

template {
	display: none
}

[hidden] {
	display: none
}

blockquote,
caption,
dd,
dl,
fieldset,
figure,
form,
hr,
ol,
pre,
table,
td,
th,
ul {
	margin: 0;
	padding: 0
}

[tabindex='-1']:focus {
	outline: 0
}

body,
button,
input,
select,
textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%
}

a:active,
a:hover {
	outline: 0
}

[role=button],
a,
button,
input,
label,
select,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation
}

ol,
ul {
	margin-bottom: .8rem
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0
}

code,
kbd,
pre,
samp {
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace
}

b,
strong {
	line-height: inherit
}

em,
i {
	font-style: italic;
	line-height: inherit
}

table {
	display: table;
	max-width: 100%
}

td,
th {
	line-height: 1.6rem;
	vertical-align: middle
}

th {
	text-align: left
}

form {
	font-size: 1rem
}

fieldset {
	border: 0;
	min-width: 0
}

legend {
	line-height: inherit;
	margin: 0
}

input,
optgroup,
select,
textarea {
	line-height: inherit
}

input,
label,
select {
	vertical-align: middle
}

input[type=file] {
	display: block;
	width: 100%
}

textarea {
	height: auto;
	resize: vertical
}

input:focus,
select:focus,
textarea:focus {
	outline: 0
}

.select select:focus:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}

select[multiple],
select[size] {
	height: auto
}

.select--list:after {
	content: none!important
}

select::-ms-expand {
	display: none
}

option {
	color: #4e504d;
	background-color: #fff
}

fieldset[disabled] input,
input[disabled],
input[readonly] {
	cursor: not-allowed;
	opacity: 1;
	pointer-events: none
}

button {
	line-height: inherit;
	vertical-align: middle
}

embed,
iframe,
img,
object {
	display: inline-block;
	vertical-align: middle
}

iframe {
	border: 0
}

img {
	border: 0;
	font-style: italic;
	height: auto;
	-ms-interpolation-mode: bicubic
}

svg {
	max-height: 100%
}

.gm-style img {
	max-width: none
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	min-height: 100%;
	-webkit-tap-highlight-color: transparent
}

*,
:after,
:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

body {
	background-color: #fff!important;
	color: #4e504d;
	line-height: 1.6rem;
	margin: 0;
	padding: 0;
	-moz-osx-font-smoothing: grayscale
}

::-moz-selection {
	background-color: #4c83ff;
	color: #fff;
	text-shadow: none
}

::selection {
	background-color: #4c83ff;
	color: #fff;
	text-shadow: none
}

img::-moz-selection {
	background: 0 0
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
}

.btn {
	background-image: none;
	border-radius: 7px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.6rem;
	margin-bottom: 0;
	padding: .95rem 2rem .85rem;
	text-align: center;
	text-decoration: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-transition: background-color .2s ease-out, background .2s ease-out, color .2s ease-out, border .2s ease-out;
	transition: background-color .2s ease-out, background .2s ease-out, color .2s ease-out, border .2s ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.btn:focus,
.btn:hover {
	outline: 0;
	text-decoration: none
}

.btn:active {
	outline: 0;
	background-image: none
}

.btn.disabled,
.btn[disabled],
.btn[readonly],
fieldset[disabled] .btn {
	cursor: not-allowed!important;
	opacity: 1;
	pointer-events: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none
}

.btn--sm {
	font-size: .75rem;
	padding: .1rem .6rem 0
}

.btn--default {
	background-color: #4c83ff;
	border-color: #4c83ff;
	color: #fff
}

.btn--default:focus,
.btn--default:hover {
	background-color: #1960ff;
	border-color: #1960ff
}

.btn--default:active {
	background-color: #0046e5;
	border-color: #0046e5
}

.btn--outline,
.btn--outline:visited {
	background-color: transparent;
	border-color: #aaaca9;
	border-width: 1px;
	color: #4e504d
}

.btn--outline:focus,
.btn--outline:hover,
.btn--outline:visited:focus,
.btn--outline:visited:hover {
	background-color: transparent;
	border-color: #4e504d
}

.btn--outline:active,
.btn--outline:visited:active {
	background-color: transparent;
	border-color: #aaaca9
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	width: 90%
}

canvas,
iframe,
img,
svg,
video {
	max-width: 100%
}

.icon {
	height: 30px
}

.form-control {
	background-image: none;
	border: 1px solid #aaaca9;
	border-radius: 7px;
	color: #4e504d;
	display: block;
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace;
	font-size: 1rem;
	line-height: 1.6rem;
	max-width: 100%;
	padding: .45rem .8rem .35rem;
	width: 100%;
	-moz-osx-font-smoothing: grayscale
}

.label {
	cursor: default;
	display: inline-block;
	max-width: 100%
}

.legend {
	display: block;
	white-space: normal;
	width: 100%
}

.form--stacked .checkbox,
.form--stacked .input,
.form--stacked .label,
.form--stacked .radio,
.form--stacked .select,
.form--stacked .textarea {
	display: block;
	width: 100%
}

.form--inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto
}

.form--inline .checkbox,
.form--inline .radio {
	display: inline-block;
	vertical-align: middle
}

.select {
	color: #4e504d;
	display: block;
	position: relative
}

.select select {
	background-color: #fff;
	border: 1px solid #aaaca9;
	border-radius: 7px;
	color: #4e504d;
	cursor: pointer;
	display: inline-block;
	font-family: Avenir, "Avenir Next", Trebuchet, Verdana, sans-serif;
	line-height: 1.6rem;
	margin: 0;
	outline: 0;
	padding: .45rem .8rem .35rem;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.select select>option {
	background-color: #fff
}

.select:after {
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	margin-top: -2px;
	pointer-events: none;
	position: absolute;
	right: 13px;
	top: 50%;
	width: 0
}

::-webkit-input-placeholder {
	color: #aaaca9;
	-webkit-font-smoothing: antialiased
}

::-moz-placeholder {
	color: #aaaca9;
	-moz-osx-font-smoothing: grayscale
}

:-ms-input-placeholder {
	color: #aaaca9
}

.grid-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -1.2rem
}

.grid-column {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	padding: 0 1.2rem
}

.grid-row--flex-cells>.grid-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.grid-row--top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.grid-row--center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.grid-row--bottom {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.column--top {
	-ms-flex-item-align: start;
	align-self: flex-start
}

.column--center {
	-ms-flex-item-align: center;
	align-self: center
}

.column--bottom {
	-ms-flex-item-align: end;
	align-self: flex-end
}

.span-12,
.span-whole {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%
}

.span-6,
.span-half {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.span-4,
.span-one-third {
	-ms-flex-preferred-size: 33.33333%;
	flex-basis: 33.33333%;
	max-width: 33.33333%
}

.span-8,
.span-two-thirds {
	-ms-flex-preferred-size: 66.66667%;
	flex-basis: 66.66667%;
	max-width: 66.66667%
}

.span-3,
.span-one-fourth {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%
}

.span-two-fourths {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.span-9,
.span-three-fourths {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%
}

.span-one-fifth {
	-ms-flex-preferred-size: 20%;
	flex-basis: 20%;
	max-width: 20%
}

.span-two-fifths {
	-ms-flex-preferred-size: 40%;
	flex-basis: 40%;
	max-width: 40%
}

.span-three-fifths {
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
	max-width: 60%
}

.span-four-fifths {
	-ms-flex-preferred-size: 80%;
	flex-basis: 80%;
	max-width: 80%
}

.span-1 {
	-ms-flex-preferred-size: 8.33333%;
	flex-basis: 8.33333%;
	max-width: 8.33333%
}

.span-2 {
	-ms-flex-preferred-size: 16.66667%;
	flex-basis: 16.66667%;
	max-width: 16.66667%
}

.span-5 {
	-ms-flex-preferred-size: 41.66667%;
	flex-basis: 41.66667%;
	max-width: 41.66667%
}

.span-7 {
	-ms-flex-preferred-size: 58.33333%;
	flex-basis: 58.33333%;
	max-width: 58.33333%
}

.span-10 {
	-ms-flex-preferred-size: 83.33333%;
	flex-basis: 83.33333%;
	max-width: 83.33333%
}

.span-11 {
	-ms-flex-preferred-size: 91.66667%;
	flex-basis: 91.66667%;
	max-width: 91.66667%
}

.offset-12 {
	margin-left: 100%
}

.offset-6,
.offset-half {
	margin-left: 50%
}

.offset-4,
.offset-one-third {
	margin-left: 33.33333%
}

.offset-8,
.offset-two-thirds {
	margin-left: 66.66667%
}

.offset-3,
.offset-one-fourth {
	margin-left: 25%
}

.offset-two-fourths {
	margin-left: 50%
}

.offset-9,
.offset-three-fourths {
	margin-left: 75%
}

.offset-one-fifth {
	margin-left: 20%
}

.offset-two-fifths {
	margin-left: 40%
}

.offset-three-fifths {
	margin-left: 60%
}

.offset-four-fifths {
	margin-left: 80%
}

.offset-1 {
	margin-left: 8.33333%
}

.offset-2 {
	margin-left: 16.66667%
}

.offset-5 {
	margin-left: 41.66667%
}

.offset-7 {
	margin-left: 58.33333%
}

.offset-10 {
	margin-left: 83.33333%
}

.offset-11 {
	margin-left: 91.66667%
}

.default-links a,
.default-links a:link,
.default-links a:visited,
.link,
.link:link,
.link:visited {
	color: #4c83ff;
	text-decoration: none;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out
}

.default-links a:focus,
.default-links a:hover,
.link:focus,
.link:hover {
	color: #1960ff;
	text-decoration: underline
}

.default-links a:active,
.link:active {
	background-image: none;
	color: #003fcc;
	outline: 0;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out
}

.no-bullets {
	list-style: none
}

.list--indented {
	padding-left: 2.4rem
}

.list--inline {
	font-size: 0
}

.list--inline li {
	display: inline-block;
	font-size: 1rem
}

.h1,
h1 {
	font-size: 2.369rem
}

.h2,
h2 {
	font-size: 1.777rem
}

.h3,
h3 {
	font-size: 1.333rem
}

.h4,
dl,
h4,
ol,
p,
ul {
	font-size: 1rem
}

.h5,
h5 {
	font-size: .75rem
}

.h6,
.small,
h6,
small {
	font-size: .75rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace;
	font-weight: 700;
	line-height: 1;
	margin-top: 0;
	margin-bottom: .8rem;
	text-rendering: optimizeLegibility
}

h6 {
	color: #7c7f7a
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1;
	margin-bottom: .8rem
}

p {
	margin: 0
}

.small,
small {
	font-weight: 400;
	line-height: 1
}

hr {
	border: 0;
	border-top: 1px solid #aaaca9;
	display: block;
	height: 1px
}

.blockquote {
	border: none;
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace;
	font-size: 1rem;
	max-width: 100%;
	margin-bottom: .8rem
}

.blockquote cite {
	font-style: normal;
	font-weight: 700
}

.blockquote:after,
.blockquote:before {
	content: ""
}

.bold {
	font-weight: 700
}

.regular {
	font-weight: 400
}

.italic {
	font-style: italic
}

.align--left {
	text-align: left
}

.align--center {
	text-align: center
}

.align--right {
	text-align: right
}

.align--justify {
	text-align: justify
}

.line-height--base {
	line-height: 1.6rem
}

.line-height--heading {
	line-height: 1
}

.font--heading {
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace
}

.font--reading {
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace
}

.font--ui {
	font-family: "Space Mono", Monaco, Menlo, Consolas, monospace
}

.font--serif {
	font-family: Georgia, Times, serif
}

.page-border {
	padding: .8rem;
	background-color: #2afadf;
	background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%)
}

.border--full {
	border-color: #aaaca9;
	border-style: solid;
	border-width: 1px
}

.border--top {
	border-top-color: #aaaca9;
	border-top-style: solid;
	border-top-width: 1px
}

.border--right {
	border-right-color: #aaaca9;
	border-right-style: solid;
	border-right-width: 1px
}

.border--bottom {
	border-bottom-color: #aaaca9;
	border-bottom-style: solid;
	border-bottom-width: 1px
}

.border--left {
	border-left-color: #aaaca9;
	border-left-style: solid;
	border-left-width: 1px
}

.border--none {
	border: 0
}

.rounded {
	border-radius: 7px
}

.rounded--top {
	border-radius: 7px 7px 0 0
}

.rounded--right {
	border-radius: 0 7px 7px 0
}

.rounded--bottom {
	border-radius: 0 0 7px 7px
}

.rounded--left {
	border-radius: 7px 0 0 7px
}

.circle {
	border-radius: 50%
}

.text--white {
	color: #fff
}

.text--lightest-gray {
	color: #d8d9d8
}

.text--light-gray {
	color: #aaaca9
}

.text--gray {
	color: #7c7f7a
}

.text--dark-gray {
	color: #4e504d
}

.text--darkest-gray {
	color: #212120
}

.text--primary-color {
	color: #4c83ff
}

.text--secondary-color {
	color: #6fbb57
}

.text--tertiary-color {
	color: #f0ad4e
}

.bg--white {
	background-color: #fff
}

.bg--lightest-gray {
	background-color: #d8d9d8
}

.bg--light-gray {
	background-color: #aaaca9
}

.bg--gray {
	background-color: #7c7f7a
}

.bg--dark-gray {
	background-color: #4e504d
}

.bg--darkest-gray {
	background-color: #212120
}

.bg--primary-color {
	background-color: #4c83ff
}

.bg--secondary-color {
	background-color: #6fbb57
}

.bg--tertiary-color {
	background-color: #f0ad4e
}

.m0 {
	margin: 0
}

.mt0 {
	margin-top: 0
}

.mr0 {
	margin-right: 0
}

.mb0 {
	margin-bottom: 0
}

.ml0 {
	margin-left: 0
}

.m1 {
	margin: .8rem
}

.mt1 {
	margin-top: .8rem
}

.mr1 {
	margin-right: .8rem
}

.mb1 {
	margin-bottom: .8rem
}

.ml1 {
	margin-left: .8rem
}

.m2 {
	margin: 2rem
}

.mt2 {
	margin-top: 2rem
}

.mr2 {
	margin-right: 2rem
}

.mb2 {
	margin-bottom: 2rem
}

.ml2 {
	margin-left: 2rem
}

.m3 {
	margin: 3.2rem
}

.mt3 {
	margin-top: 3.2rem
}

.mr3 {
	margin-right: 3.2rem
}

.mb3 {
	margin-bottom: 3.2rem
}

.ml3 {
	margin-left: 3.2rem
}

.m4 {
	margin: 4.4rem
}

.mt4 {
	margin-top: 4.4rem
}

.mr4 {
	margin-right: 4.4rem
}

.mb4 {
	margin-bottom: 4.4rem
}

.ml4 {
	margin-left: 4.4rem
}

.p-mb {
	margin-bottom: .8rem
}

.centered {
	margin-right: auto;
	margin-left: auto
}

.p0 {
	padding: 0
}

.pt0 {
	padding-top: 0
}

.pr0 {
	padding-right: 0
}

.pb0 {
	padding-bottom: 0
}

.pl0 {
	padding-left: 0
}

.p1 {
	padding: .8rem
}

.pt1 {
	padding-top: .8rem
}

.pr1 {
	padding-right: .8rem
}

.pb1 {
	padding-bottom: .8rem
}

.pl1 {
	padding-left: .8rem
}

.p2 {
	padding: 2rem
}

.pt2 {
	padding-top: 2rem
}

.pr2 {
	padding-right: 2rem
}

.pb2 {
	padding-bottom: 2rem
}

.pl2 {
	padding-left: 2rem
}

.p3 {
	padding: 3.2rem
}

.pt3 {
	padding-top: 3.2rem
}

.pr3 {
	padding-right: 3.2rem
}

.pb3 {
	padding-bottom: 3.2rem
}

.pl3 {
	padding-left: 3.2rem
}

.p4 {
	padding: 4.4rem
}

.pt4 {
	padding-top: 4.4rem
}

.pr4 {
	padding-right: 4.4rem
}

.pb4 {
	padding-bottom: 4.4rem
}

.pl4 {
	padding-left: 4.4rem
}

.relative {
	position: relative
}

.absolute {
	position: absolute
}

.fixed {
	position: fixed
}

.top--0 {
	top: 0
}

.right--0 {
	right: 0
}

.bottom--0 {
	bottom: 0
}

.left--0 {
	left: 0
}

.z1 {
	z-index: 1
}

.z2 {
	z-index: 2
}

.z3 {
	z-index: 3
}

.z4 {
	z-index: 4
}

.z5 {
	z-index: 5
}

.vertical--top {
	vertical-align: top
}

.vertical--middle {
	vertical-align: middle
}

.vertical--bottom {
	vertical-align: bottom
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.overflow--scroll {
	overflow: scroll
}

.overflow--hidden {
	overflow: hidden
}

.overflow--visible {
	overflow: visible
}

.overflow--auto {
	overflow: auto
}

.show-on-mobile {
	display: none!important
}

.float--left {
	float: left
}

.float--right {
	float: right
}

.float--none {
	float: none
}

.full-width {
	width: 100%
}

.half-width {
	width: 50%
}

.fit {
	max-width: 100%
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}

@media screen and (min-width:40em) {
	html {
		font-size: 19px
	}
	.page-border {
		padding: 2rem
	}
}

@media screen and (max-width:50em) {
	input,
	select,
	textarea {
		font-size: 16px
	}
}

@media screen and (max-width:40em) {
	.btn {
		display: block;
		margin-bottom: .8rem
	}
	.grid-row {
		margin: 0 auto
	}
	.grid-column {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
		padding: 0;
		margin-left: 0
	}
	.block-on-mobile,
	.show-on-mobile {
		display: block!important
	}
	.hide-on-mobile {
		display: none!important
	}
}

